.form-landing{
  padding: 20px 30px;
  background: white;
  position: absolute;
  margin: 0 40%;
  width: 100%;
  max-width: 280px;

  form{
    label{
      font-weight: 700;
      font-size: 13px;
    }
  }
}